.content {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 0px)and (max-width: 475px) {
  h1 {
    font-size: 2em;
  }
  h3 {
    font-size: 1em;
  }
  .logo {
    max-height: 4em;
  }
}

@media screen and (max-width: 630px) {
  .project-details {
    width: 100%;
    min-width: 210px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2em;
  }
  .projects-title {
    text-align: center;
    font-size: 1.5em;
    padding: 12px;
  }
  .project-image {
    width: 93%;
  }
  .project-name {
    margin-top: .25em;
  }
}

@media screen and (min-width: 476px) and (max-width: 750px) {
  h1 {
    font-size: 3em;
  }
  h3 {
    font-size: 1.5em;
  }
  .logo {
    max-height: 6em;
  }
}
